# Ignore Everything...
*#*#
/*

# ... Exept
!.gitignore
!README.md

# Configs
!.config/
.config/*

!.config/init

!.config/neofetch/
.config/neofetch/*
!.config/neofetch/config.conf

!.config/polybar/
.config/polybar/*
!.config/polybar/config
!.config/polybar/launch.sh

!.config/ranger/
.config/ranger/plugins/
!.config/ranger/*.py
!.config/ranger/*.conf
!.config/ranger/*.sh

!.config/Scripts/
!.config/Scripts/*.*

!.config/rofi/
!.config/rofi/*


!.config/compton.conf


# Wallpaper and Colours
!.config/col_scheme.jpg
!.config/wal.jpg

# Emacs
!.emacs.d/
.emacs.d/*
!.emacs.d/config.org
!.emacs.d/init.el

# i3
!.i3/
.i3/*
!.i3/config

# Other
!.zshrc
!.xprofile
